.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
        width: 100px;
        height: 100px;
    }
    .top{
        height: 50px;
        width: 100%;
        border-bottom: 1px solid green;
        margin-bottom: 20px;
    }
    .bottom{
        flex: 1;
        text-align: center;
        th{
            text-align: center;
            vertical-align: middle;
        }
        td{
            vertical-align: middle;
        }
        .alter{
            margin-right:40px;
            font-weight: 600;
        }
        .remove{
            color:red;
            font-weight: 600;
        }
    }
}