<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xx后台管理系统</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/user.css">

</head>

<body>
    <div class="container">
        <%- include('./common/head.ejs') %>
        <div class="ly-main">
            <%- include('./common/menu.ejs') %>
            <div class="body">
                <div class="search">
                    <form action="">
                        <input type="text" class="form-control" placeholder="Please enter content" aria-describedby="basic-addon2">
                    </form>
                    <button type="button" class="btn btn-primary">search</button>
                </div>
                <div class="list">
                    <table class="table table-condensed table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>用户名</th>
                                <th>用户昵称</th>
                                <th>手机号码</th>
                                <th>性别</th>
                                <th>年龄</th>
                                <th>是否充钱</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>1545755</td>
                                <td>男</td>
                                <td>18</td>
                                <td>是</td>
                                <td>
                                    <a href="#" class="alter">修改</a>
                                    <a href="
                                    #" class="remove">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>120</td>
                                <td>女</td>
                                <td>23</td>
                                <td>是</td>
                                <td>
                                    <a href="#" class="alter">修改</a>
                                    <a href="
                                        #" class="remove">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>110</td>
                                <td>女</td>
                                <td>19</td>
                                <td>否</td>
                                <td>
                                    <a href="#" class="alter">修改</a>
                                    <a href="
                                        #" class="remove">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <%- include('./common/nav.ejs') %>
            </div>
        </div>
        <%- include('./common/foot.ejs') %>
    </div>
</body>

</html>