html, body {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container .ly-head {
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  background: url(../images/head.jpg);
  display: flex;
}
.container .ly-head .left a {
  font-size: 26px;
  font-weight: 800;
  text-decoration: none;
}
.container .ly-head .right {
  display: flex;
  align-items: center;
  float: right;
}
.container .ly-head .right i {
  color: red;
  font-weight: 700;
}
.container .ly-main {
  border: 1px solid black;
  background: url(../images/body.png);
  flex: 1;
  display: flex;
}
.container .ly-main .menu {
  width: 250px;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid green;
}
.container .ly-main .menu a {
  display: block;
  color: red;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  text-decoration: none;
  border-bottom: 1px dashed black;
  width: 100%;
  padding-bottom: 10px;
}
.container .ly-main .menu a:hover {
  color: #3cff00;
}
.container .ly-main .body {
  position: relative;
  flex: 1;
  padding: 20px;
}
.container .ly-main .body .search {
  margin-bottom: 20px;
  display: flex;
}
.container .ly-main .body .search .shuru {
  width: 300px;
}
.container .ly-main .body .search input {
  float: left;
}
.container .ly-foot {
  height: 50px;
  width: 100%;
  border: 1px solid black;
  background: url(../images/head.jpg);
}

.table-hover > tbody > tr:hover {
  background-color: aqua;
}

.pagination {
  float: right;
}

.list {
  text-align: center;
}
.list th {
  text-align: center;
}
