<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xx后台管理系统</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/user.css">

</head>

<body>
    <div class="container">
        <div class="ly-head">
            <div class="left">
                <a href="index.html">xx后台管理系统</a>
            </div>
            <div class="right">
                <div>
                    <a href="login.html" class="btn btn-primary btn-lg active btn-xs" role="button">登录</a>
                    <a href="register.html" class="btn btn-default btn-lg active btn-xs" role="button">注册</a>
                </div>
                <p style="margin:0 30px;">欢迎您-<i>
                        xxx
                    </i>-(管理员)</p>
                <button type="button" class="btn btn-primary btn-sm">退出</button>
            </div>
        </div>
        <div class="ly-main">
            <div class="menu">
                <ul>
                    <li><a href="users.html">用户管理</a></li>
                    <li><a href="phone.html">手机管理</a></li>
                    <li><a href="brand.html">品牌管理</a></li>
                </ul>
            </div>
            <div class="body">
                <div class="search">
                    <form action="">
                        <input type="text" class="form-control" placeholder="Please enter content" aria-describedby="basic-addon2">
                    </form>
                    <button type="button" class="btn btn-primary">search</button>
                </div>
                <div class="list">
                    <table class="table table-condensed table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>用户名</th>
                                <th>用户昵称</th>
                                <th>手机号码</th>
                                <th>性别</th>
                                <th>年龄</th>
                                <th>是否充钱</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < list.length; i++){ %>
                            <tr>
                                <th scope="row">
                                    <%= i+1 %>
                                </th>
                                <td>
                                    <%= list[i].username %>
                                </td>
                                <td>
                                    <%= list[i].nickname %>
                                </td>
                                <td>
                                    <%= list[i].phone %>
                                </td>
                                <td>
                                    <%= list[i].sex %>
                                </td>
                                <td>
                                    <%= list[i].age %>
                                </td>
                                <td>
                                    <%= list[i].isCharge %>
                                </td>
                                <td>
                                    <!-- ========================================================================= -->
                                    <a href="#" class="alter">修改</a>
                                    <% if(list[i].isCharge=='false'){ %>
                                    <a href="/users/delete?id=<%= list[i]._id %>" class="remove">删除</a>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- <nav>
                    <ul class="pagination">
                        <li>
                            <a href="/users?page=<%= page-1 < 1 ? 1 : page-1  %>&pageSize=<%= pageSize %>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <% for(var i = 0;i< totalPage;i++){ %>
                        <li class="<%= page=== (i+1) ? 'active' : '' %>">
                            <a href="/users?page=<%= i+1 %>&pageSize=<%= pageSize %>">
                                <%= i+1 %></a></li>
                        <% } %>
                        <li>
                            <a href="/users?page=<%= page+1 > totalPage  ? totalPage : page+1  %>&pageSize=<%= pageSize %>"
                                aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav> -->
            </div>
        </div>
        <div class="ly-foot">
            底部文件
        </div>
    </div>
</body>

</html>
<script type="text/javascript" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>