<div class="ly-head">
    <div class="left">
        <a href="#">xx后台管理系统</a>
    </div>
    <div class="right">
        <p>欢迎您-xxx-(管理员)</p>
        <button type="button" class="btn btn-primary">退出</button>
    </div>

</div>