<div class="ly-head">
    <div class="left">
        <a href="index.html">xx后台管理系统</a>
    </div>
    <div class="right">
        <div>
            <a href="login.html" class="btn btn-primary btn-lg active btn-xs" role="button">登录</a>
            <a href="register.html" class="btn btn-default btn-lg active btn-xs" role="button">注册</a>
        </div>
        <p style="margin:0 30px;">欢迎您-<i>
                xxx
            </i>-(管理员)</p>
        <button type="button" class="btn btn-primary btn-sm">退出</button>
    </div>
</div>